* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: black;
}

img {
    height: 70px;
    box-sizing: border-box;
    display: inline-block;
    justify-content: space-between;
    margin:5px 10px;
}

.row {
    display: flex;
    height: 70px;
    justify-content: center;
}

@media(max-width:700px) {
    .row{
        flex-direction: row;
        margin: auto;
    }
}

@media (min-width:701px) {
    .row{
        flex-direction: row;
        width: 100%;
    }
    
}
#qui {
    width: 90px;
}

#ueng {
    padding-bottom: 28px;
    width: 80px;
}

