@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,300;1,400&family=Lobster&family=Moon+Dance&family=Murecho:wght@100&family=Poppins:wght@200&family=Roboto+Slab:wght@100&family=Satisfy&family=Send+Flowers&family=Shadows+Into+Light&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #171616;
    color: #ffffff;
}


/* Hero section styling: Assigned to Juliet*/

a {
    text-decoration: none;
}

li {
    list-style: none;
}

html {
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    line-height: 1.4;
}

header {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header nav {
    padding: 1.5rem 0;
}

header nav .nav-overlay {
    display: none;
}

header nav .nav-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav .nav-inner .nav-logo {
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 400;
}

header nav .nav-inner .nav-hamburger {
    display: none;
}

header nav .nav-inner .nav-links {
    display: flex;
    align-items: center;
    list-style: none;
}

header nav .nav-inner .nav-links li {
    margin: 0 1.4rem;
    font-size: 0.875rem;
    font-weight: 400;
    color: #ffffff;
    transition: color 0.25s;
}

header nav .nav-inner .nav-links li:hover {
    color: #afe41f;
}

header nav .nav-inner .nav-links li .nav-button {
    display: block;
    width: fit-content;
    cursor: pointer;
    font-size: 0.875rem;
    font-weight: 500;
    border-radius: 1.5rem;
    outline: none;
    border: 1px solid white;
    background: none;
    color: #ffffff;
    padding: 0.5rem 2rem;
    transition: background 0.25s;
    margin-left: 1rem;
}

header nav .nav-inner .nav-links li .nav-button:hover {
    background: linear-gradient(to right, #f2cf43, #55d284);
    color: black;
    font-size: 15px;
    font-weight: bold;
    transition: 0.5s ease-in-out;
}

header nav .nav-inner .nav-links li a {
    color: inherit;
}

.container {
    max-width: 1200px;
    padding: 0 1.9rem;
    margin: auto;
}

header .header-inner {
    flex: 1;
    display: flex;
    align-items: center;
}

header .header-inner .header-intro {
    padding-bottom: 6rem;
    color: #ffffff;
    width: 50%;
}

header .header-inner .header-intro-heading {
    font-size: 3rem;
    font-weight: bold;
    line-height: 3.5rem;
}

header .header-inner .header-intro-lead {
    color: rgb(195, 191, 191);
    padding: 1.25rem 0 1.5rem 0;
    font-family: 'Raleway', sans-serif;
}

header .header-inner .header-intro-buttons {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

header .header-inner .header-intro-buttons .header-lightgreen-button {
    background: linear-gradient(to right, #f2cf43, #55d284);
    color: #ffffff;
    display: block;
    width: fit-content;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 2rem;
    outline: none;
    border: 0;
    padding: 1rem 3rem;
    transition: background 0.25s;
}

header .header-inner .header-intro-buttons .header-lightgreen-button:hover {
    background: linear-gradient(to right, #e0bd32, #388d59);
    transition: 0.5s ease-in;
    font-weight: bold;
}

header .header-inner .header-intro-buttons .header-transparent-button {
    display: block;
    width: fit-content;
    cursor: pointer;
    font-size: 0.875rem;
    font-weight: 500;
    outline: none;
    color: #ffffff;
    padding: 1rem 3rem;
}

header .header-inner .header-intro-buttons .header-transparent-button:hover {
    background: none;
    border: 1px solid white;
    border-radius: 2rem;
}

.bg-image {
    width: 450px;
    height: 650px;
    float: right;
    margin-left: 30px;
    margin-bottom: 20px;
}


/* Hero section ends. Artwork section styling: assigned to Juliet*/

#artwork {
    max-width: 1180px;
    padding: 0 1.5rem;
    margin: auto;
}

#artwork .artwork-inner {
    position: relative;
    box-shadow: 0 4px 10px 0 rgba(60, 81, 68, 0.37);
    backdrop-filter: blur(5px);
    top: -7.5rem;
    min-height: 11rem;
    border-radius: 1.5rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#artwork .artwork-inner>* {
    position: relative;
    z-index: 10;
}

#artwork .artwork-inner .part1 {
    margin-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media screen and (min-width: 1024px) {
    #artwork .artwork-inner .testing {
        margin-left: 20px;
    }
    #artwork .artwork-inner .part1 .testing11,
    #artwork .artwork-inner .part1 .testing12 {
        margin-left: 70px;
    }
    .testing3 {
        margin-right: 40px;
    }
}

.testing,
.testing11,
.testing12,
.testing3 {
    color: white;
}

.figures {
    font-size: 35px;
    font-weight: bolder;
}

.amount {
    font-weight: bold;
    font-size: 20px;
    margin-left: 25px;
}

.testing3 {
    margin-right: 5px;
    margin-bottom: 20px;
}

.art-top {
    display: flex;
    margin-bottom: 14px;
}

.img-cont {
    display: flex;
}

.avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: -10px;
    border: 1px solid #2c303a;
}

.testing2 {
    object-fit: cover;
    width: 100%;
    height: 100%;
}


/* Popular items section styling: assigned to Debbie*/

.card-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 1200px;
    padding: 0 0rem;
    margin-right: 4%;
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px 16px;
    max-width: 500px;
}

.card1,
.card2,
.card3,
.card4 {
    background-color: rgba(110, 107, 78, 0.75);
    border-radius: 30px;
    height: 150px;
    position: relative;
}

.card1 {
    background: linear-gradient(#3f4533, #46432d);
}

.card2 {
    background: linear-gradient(#515351, #2b483e);
}

.card3 {
    background: linear-gradient(#58504c, #453330);
}

.card4 {
    background: linear-gradient(#655c54, #493b2e);
}

.debimg {
    position: absolute;
    right: 15%;
    top: -18%;
    width: 180px;
    height: 180px;
}

.content h5, .tiny-title {
    color: rgb(116, 225, 159);
}

.content h1 {
    color: white;
    padding-top: 25px;
    font-size: 2.5rem;
}

.content p {
    color: white;
    font-size: 12px;
    padding-top: 25px;
    font-size: 1.01rem;
}

.content {
    max-width: 500px;
    padding: 30px;
    text-align: left;
}

.card h1 {
    font-size: 2.2em;
}

/* Artist section styling: assigned to Lateefah */

.top-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-direction: row;
    margin-top: 5rem;
    margin-bottom: 90px;
   
}

.img-top {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position:relative;
    bottom:30px;
    margin-left: 100px;
}

.img-bottom {
    width: 264px;
    top: 17px;
    border-radius: 30px;
    position: relative;
    right: 16px;
    height: 140px;
    margin-left: 20px;
 
}

.top-listcard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
} 

#top1{
    background-color: rgb(33, 32, 32);
    position: absolute;
    border-radius: 30px;
    margin-top: 10px;
    height: 16.7%;
    width: 270px;
}

#top2{
    background-color: rgb(35, 33, 33);
    position: absolute;
    border-radius: 30px;
    margin-top: 10px;
    height: 16.7%;
    width: 270px;
    margin-left: 12%;
}

.card-body{
    width: 290px;
}

.artist-title h1{
    font-size: 30px;
    margin-top: 20px;
}
.artist-title .another-p{
    font-size: 15px;
    margin-top: 20px;
    width: 80%;
}

.ind-cont {
    text-align: center;
}

.ind-quote {
    font-size: 12px;
    color: rgb(253, 98, 84);
    margin-bottom: 5px;
}
.ind-cont .ind-name {
    font-size: 16px;
    margin-bottom: 6px;
}
.ind-cont .ind-date {
    font-size: 12px;
}

@media(max-width:450px){
    #top2{
        margin-top: 500px;
    }
}

.list-text {
    width: 75%;
    font-size: 1.01em;
}


/* Company section styling: assigned to Lena */

.row-companyimg {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.courses {
    padding: 5em 0em;
    margin: 0;
    height: 0%;
    margin-right: 10%
}

.companyimg {
    width: 150px;
    object-fit: cover;
}


/* Subscribe section styling: assigned to Lotathebaby */

input[type=submit] {
    width: 140px;
    height: 41px;
    display: inline-block;
    border-radius: 20px;
    background: linear-gradient( to right, #f2cf43, #55d284);
    border-width: 0;
    font-family: segoe UI;
    font-weight: 600;
    font-size: 0.9rem;
    color: black;
}

.subscribe {
    color: white;
    font-size: 3.5rem;
    font-family: helvetica;
    font-weight: 400;
    width: 60%
}

.subs {
    padding: 50px 0px;
}


/*Footer section styling assigned to Ellie*/

.footer-wrapper {
    line-height: 1.5;
    max-width: 1170px;
    margin: auto;
}

.row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 70px;
}

ul {
    list-style: none;
}

.footer-col ul li a {
    text-decoration: none;
    color: #ffffff;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 400;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #bbbb;
    padding-left: 10px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col {
    width: 100%;
    padding: 15px 0px;
}

.start {
    width: 170%;
}

.two {
    margin-left: 50%;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    margin-right: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.s ease;
}

.footer-col .social-links a:hover {
    color: #bbbb;
    padding-left: 10px;
    background-color: #ffffff;
}

.footer-col h4 {
    font-size: 19px;
    text-transform: capitalize;
    color: white;
    margin-bottom: 30px;
    font-weight: bold;
    position: relative;
    column-fill: balance;
}

.footer {
    margin: 5% 0%;
}


/*==============================================================MEDIA QUERIES==============================================*/

@media only screen and (max-width: 480px) and (min-width: 320px) {
    html,
    body {
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    /*===================================Debbies queries==========================*/
    .card-wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        max-width: 1200px;
        padding: 0 0rem;
    }
    .debimg {
        position: absolute;
        right: 3%;
        width: 150px;
        height: 175px;
        bottom: 0;
    }
    .content {
        padding: 0;
    }
    .content h1 {
        padding-top: 25px;
        font-size: 2.1rem;
    }
    .content p {
        padding-top: 25px;
        font-size: 1rem;
        width: 99%;
    }
    .content h5 {
        font-size: 1rem;
    }
    .content {
        padding: 0;
    }
    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 60px 16px;
        max-width: 500px;
    }
    /*===============================TOP-LIST QUERIES========================*/
    .top-wrapper {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 50px;
        margin-bottom: 50rem;
    }
    .top-wrapper h1 {
        font-size: 2.1em;
        line-height: 1.3;
    }
    .top-wrapper h3 {
        font-size: 1.1em;
        margin-top: 7%;
    }
    .top-wrapper p {
        font-size: 1em;
        width: 99%;
    }
    .artist-title {
        margin-bottom: 40px;
        justify-content: center;
        align-items: center;
    }

    #top1, #top2 {
        height: 8%;
    }

    /*=================================COMPANY SECTION: LENA QUERIES================================== */
    .row-companyimg {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .courses {
        padding: 4em 0em;
        margin-right: 0%

    }
    .companyimg {
        width: 100px;
        object-fit: cover;
    }
    /* ==============================SUBSCRIBE SECTION QUERIES=====================*/
    input[type=submit] {
        width: 140px;
        height: 41px;
        border-radius: 20px;
        font-size: 0.9rem;
    }
    .subscribe {
        font-size: 2.1rem;
        font-family: helvetica;
        font-weight: 400;
        width: 99%
    }
    .subs {
        padding: 10px 0px;
    }
    /*=====================================================FOOTER QUERIES=======================================================*/
    .row {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 0px;
        padding-top: 15%;
    }
    .footer-col ul li a {
        font-size: 14px;
    }
    .footer-col {
        width: 100%;
        padding: 5px 0px;
    }
    .start {
        width: 170%;
    }
    .two {
        margin-left: 0%;
    }
}

@media only screen and (max-width: 768px) and (min-width: 481px) {
    html,
    body {
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    /*===================================Debbies queries==========================*/
    .card-wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        max-width: 1200px;
        padding: 0 0rem;
        margin-right: 4%;
    }
    .debimg {
        position: absolute;
        left: 0%;
        width: 200px;
        height: 177px;
        bottom: 0;

    }
    .content h1 {
        padding-top: 25px;
        font-size: 2.5rem;
        line-height: 1.3;
    }
    .content p {
        padding-top: 25px;
        font-size: 0.9rem;
        width: 100%;
    }
    .content h5 {
        font-size: 1.5rem;
    }
    .content {
        padding: 0;
    }
    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 100px 16px;
        max-width: 900px;
        width: 500px;
    }
    /*===============================TOP-LIST QUERIES========================*/
    .top-wrapper {
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 26rem;
    }

    .top-listcard {
        display: grid;
        margin-top: 10%;
        grid-template-columns: repeat(2, 1fr);
    }
    .top-wrapper h1 {
        font-size: 3.5em; 
    }
    .top-wrapper h3 {
        font-size: 1.7em;
        margin-top: 5%;
    }
    .top-wrapper p {
        width: 75%;
        font-size: 1.7em;
    }
    .artist-title h1{
        font-size: 40px;
    }

    .another-p {
        width: 100%;
        font-size: 1.3rem; 
    }
    #top1, #top2 {
        height: 7.8%;
        width: 220px;
    }

    .img-top {
        margin-left: 80px;
    }
    .img-bottom {
        width: 210px;
    }

    .ind-quote {
        margin-left: 25px;
    }

    .ind-date {
        margin-left: 25px;
    }
    /*=================================COMPANY SECTION: LENA QUERIES================================== */
    .row-companyimg {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .courses {
        padding: 5em 0em;
        margin-right: 0%
    }
    .companyimg {
        width: 200px;
        object-fit: cover;
    }
    /* ==============================SUBSCRIBE SECTION QUERIES=====================*/
    input[type=submit] {
        width: 150px;
        height: 55px;
        border-radius: 20px;
        font-size: 1.6rem;
    }
    .subscribe {
        font-size: 2.7rem;
        font-family: helvetica;
        font-weight: 400;
        width: 92%
    }
    .subs {
        padding: 10px 0px;
    }
    /*=====================================================FOOTER QUERIES=======================================================*/
    .row {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 0px;
        padding-top: 15%;
    }
    .footer-col ul li a {
        font-size: 1.3rem;
    }
    .footer-col h4 {
        font-size: 2rem;
    }
    .footer-col {
        width: 100%;
        padding: 5px 0px;
    }
    .two {
        margin-left: 0%;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
    html,
    body {
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    /*===================================Debbies queries==========================*/
    .card-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        max-width: 1200px;
        padding: 0 0rem;
        margin-right: 4%;
        margin-top: 50px; 
    }
    .debimg {
        position: absolute;
        left: -5%;
        width: 200px;
        height: 175px;
        bottom: 0;
    }
    .content h1 {
        padding-top: 25px;
        font-size: 4rem;
    }
    .content p {
        padding-top: 25px;
        font-size: 1.5rem;
    }
    .content h5 {
        font-size: 1.5rem;
    }
    .content {
        padding: 0;
    }
    /*===============================TOP-LIST QUERIES========================*/
    .top-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
    .top-wrapper h1 {
        font-size: 2.5em;
        line-height: 2;
    }
    .top-wrapper h3 {
        font-size: 1.3em;
        margin-top: 7%;
    }
    .top-wrapper p {
        width: 75%;
        font-size: 1.3em;
        width: 90%;
    }
    #top1, #top2 {
        height: 12%;
    }
    .top-listcard {
        display: grid;
        margin-top: 10%;
        grid-template-columns: repeat(2, 1fr);
    } 
    /*=================================COMPANY SECTION: LENA QUERIES================================== */
    .row-companyimg {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .courses {
        margin-top: 30%;
        padding: 5em 0em;
        margin-right: 0%
    }
    .companyimg {
        width: 200px;
        object-fit: cover;
    }
    /* ==============================SUBSCRIBE SECTION QUERIES=====================*/
    input[type=submit] {
        width: 150px;
        height: 55px;
        border-radius: 20px;
        font-size: 1.6rem;
    }
    .subscribe {
        font-size: 4rem;
        font-family: helvetica;
        font-weight: 400;
        width: 98%
    }
    .subs {
        padding: 10px 0px;
    }
    /*=====================================================FOOTER QUERIES=======================================================*/
    .row {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 0px;
        padding-top: 15%;
    }
    .footer-col a {
        font-size: 1.5rem;
    }
    .footer-col h4 {
        font-size: 2rem;
    }
    .footer-col {
        width: 100%;
        padding: 5px 0px;
    }
    .two {
        margin-left: 25%;
    }
}

@media screen and (width: 820px) {
    #top1{
        margin-left: 0px;
    }
    #top2 {
        margin-left: 17px;
    }
}

@media only screen and (max-width: 1350px) and (min-width: 1024px) {
    html,
    body {
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
     /*===============================TOP-LIST QUERIES========================*/
     .top-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
    .top-wrapper h1 {
        font-size: 2.5em;
        line-height: 2;
    }
    .top-wrapper h3 {
        font-size: 1.3em;
        margin-top: 7%;
    }
    .top-wrapper p {
        width: 75%;
        font-size: 1.3em;
        width: 90%;
    }
    #top1, #top2 {
        height: 12%;
    }
    .top-listcard {
        display: grid;
        margin-top: 10%;
        grid-template-columns: repeat(2, 1fr);
    } 

    .courses {
        margin-top: 30%;
    }
}

/* Media queries for hero and artwork section: assigned to Juliet*/
@media screen and (width:1024px) {
    #artwork .artwork-inner {
        top: -0.8rem;
    }
}

@media screen and (max-width: 935px) {
    header .header-inner .header-intro {
        width: 80%;
    }
    #artwork .artwork-inner .part1 .testing11,
    #artwork .artwork-inner .part1 .testing12 {
        margin-left: 40px;
    }
}

@media screen and (max-width: 368px) {
    header {
        height: auto;
    }
    header .header-inner .header-intro {
        padding: 3rem 0 12rem 0;
    }
}

@media screen and (max-width: 686px) {
    header {
        height: auto;
    }
    header .header-inner .header-intro {
        padding: 3rem 0 12rem 0;
    }
}

@media screen and (max-width: 686px) {
    #artwork .artwork-inner {
        text-align: center;
    }
    header nav .nav-inner .nav-logo {
        margin-left: 0;
    }
    header nav .nav-overlay {
        display: block;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        background: linear-gradient(to right, #c3a73a, #4eb576);
        visibility: hidden;
        transition: all 0.5s ease;
        z-index: 500;
    }
    header nav .nav-overlay-close {
        color: #000;
        font-size: 3rem;
        position: fixed;
        top: 1.5rem;
        right: 1.5rem;
    }
    header nav .nav-overlay-links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: inherit;
    }
    header nav .nav-overlay-links li {
        font-size: 1.5rem;
        color: #000;
        padding: 1rem 0;
    }
    header nav .nav-overlay-links li a {
        color: #000;
        font-weight: bold;
    }
    header nav .nav-overlay.open {
        opacity: 1;
        visibility: visible;
    }
    header nav .nav-inner .nav-links {
        display: none;
    }
    header nav .nav-inner .nav-hamburger {
        display: block;
        font-size: 2.5rem;
        color: #ffffff;
    }
    header .header-inner .header-intro {
        width: 100%;
        text-align: center;
    }
    header .header-inner .header-intro-buttons {
        justify-content: center;
    }
    .bg-image {
        display: none;
    }
    #artwork {
        max-width: 1020px;
    }
    #artwork .artwork-inner {
        text-align: center;
    }
    #artwork .artwork-inner {
        display: block;
        min-height: 12rem;
    }
    .testing {
        margin-bottom: 18px;
        justify-content: center;
    }
    .figures {
        font-size: 30px;
    }
    .art-top {
        margin-top: 50px;
        justify-content: center;
    }
    .img-cont {
        justify-content: center;
        align-items: center;
    }
}

/*=====================================================FOOTER QUERIES=======================================================*/

@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}