*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Hero section styling */



/* Artwork section styling */



/* Popular items section styling */



/* Artist section styling */



/* Company section styling */



/* Subscribe section styling */


/* Footer section styling */


